@import "./_normalize.css";

.wrapper {
    height: 100vh;
}

.container {
    padding-right: 10%;
    padding-left: 10%;
}

.content {
    display: flex;
    justify-content: center;
    margin-left: 270px;
}

.sidenav {
    position: fixed;
    overflow-y: scroll;
    top: 0;
    bottom: 0;
    left: 0;
    width: 250px;
}

.sidenav::-webkit-scrollbar
{
    width: 12px;
    background-color: #f1f1f1;
}

.sidenav::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #d0d0d0;
}